/* .one{
    width:100px;
    height: 50px;
    background-color: darkcyan;
} */
.card{
    width: auto;
    height: auto;
    border: 1px solid mediumvioletred;
    background-color: ghostwhite;
    color: darkgray;
    font-weight: bolder;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    display: grid;
}